/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* Fine reset */

/* Inizio regole generali */
body {
  background-image: url('../img/background.png');
  background-position: top left;
  background-size: auto;
  background-repeat: repeat;
}

.container {
  width: 80%;
  margin: 0 auto;
}
/* Fine regole generali */

/* Inizio regole header */
header .background-header {
  height: 30vh;
  background-image: url('../img/background-header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid #fff;
  margin-top: 25px;
  position: relative;
}

header .background-header .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

header .background-header .title h1 {
  font-size: 50px;
}

header .background-header .title h1 a{
  text-decoration: none;
  color: #fff;
}

header .background-header .title p {
  font-size: 20px;
  margin: 5px 0;
}

nav {
  height: 5vh;
  background: #504741;
  text-align: center;
  line-height: 5vh;
  border-radius: 3px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  border-right: 1px solid black;
  padding: 0 15px;
}

nav ul li:last-child {
  border-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: lightgray;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

nav ul li.arrow a::after {
  content: '\25BF';
  margin-left: 5px;
}
/* Fine regole header */

/* Inizio regole main */
main {
  margin: 20px 0;
}
main .col {
  float: left;
  width: 24%;
}
main::after {
  content: '';
  display: table;
  clear: both;
}

main .center {
  width: 48%;
  margin: 0 2%;
}

main .col .box,
main .right .tag {
  margin-bottom: 7%;
  background: #fff;
  border-radius: 3px;
}

main .col .box,
main .right .tag {
  padding: 25px;
}

main span{
  font-size: 20px;
}

main .col .box ul li {
  padding: 20px;
}

main ul li {
  list-style: none;
}

main .col .box ul li:hover {
  box-shadow: 3px -2px lightgray;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-decoration: underline;
}

main ul li a {
  text-decoration: none;
  color: green;
}

/* Fine regole colonna sinistra */

/* Inizio regole colonna centrale */
article {
  border-bottom: 1px solid lightgray;
  background: #fff;
  border-radius: 3px;
}

article .header-article,
article .image-article p,
article .footer-article {
  padding: 30px;
}
article .image-article img{
  width: 100%;
}
/* Fine regole colonna centrale */

/* Inizio regole colonna destra */
main .right .search input {
  padding: 10px;
  margin-right: 10px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}

main .right .search button {
  padding: 10px 20px;
  background: #504741;
  color: lightgray;
  cursor: pointer;
}

main .right .search button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
main .right .tag ul {
  padding-top: 15px;
}
main .right .tag ul li {
  display: inline;
  padding: 5px;
  font-size: 10px;
}

main .right .tag ul li:hover {
  text-decoration: underline;
}

main .right .tag ul li.big {
  font-size: 25px;
}

/* Fine regole colonna destra */

/* Inizio regole footer */
footer {
  background: #fff;
  line-height: 40px;
}

footer .footer-box {
  float: left;
  width: 15%;
  padding-right: 35px;
  margin-right: 20px;
}

footer .footer-box:last-child {
  width: 40%;
  padding-right: 10px;
  margin-left: 100px;
}

footer .footer-top span {
  margin-bottom: 10px;
  font-size: 20px;
}

footer .footer-top ul li {
  list-style: none;
  padding: 10px;
}

footer .footer-top ul li a,
footer .footer-bottom a {
  text-decoration: none;
  color: gray;
}

footer .footer-top,
footer .footer-bottom {
  border-bottom: 1px solid gray;
  padding: 70px;
}

footer .footer-bottom {
  border: 0;
}

footer::after,
footer .footer-top::after {
  content: '';
  display: table;
  clear: both;
}

footer .footer-bottom ul li {
  display: inline;
  list-style: none;
}

footer .footer-bottom .copyright {
  float: left;
}

footer .footer-bottom .social {
  float: right;
}

footer .footer-bottom .social ul li a i {
  background: lightgray;
  color: gray;
  padding: 10px;
  border-radius: 50%;
}
/* Fine regole footer */
